@import "variables.scss";

/* Main Content Area */
#content {
  margin-left: 250px;
  margin-top: 60px;
  padding: 20px;
  overflow: auto;
  height: calc(100vh - 60px);
  box-sizing: border-box;
}

/* General Form Styling */
#authBackground {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: url("../media/formBackground.webp");
  background-size: cover;
  background-position: center;
  z-index: 500;
}

/* Login & Register forms */
form {
  position: absolute;
  width: 90%;
  max-width: 600px; /* Increase the width */
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px 30px; /* Add padding */
  background-color: rgba(15, 15, 15, 0.9);
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
  color: $text-light;
  font-family: "Orbitron", sans-serif; /* Futuristic font */
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  color: $primary-purple;
  text-shadow: 0 0 15px $primary-purple;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  margin-left: 50%;
  transform: translateX(-77.5%);
  font-size: 14px;
  color: #ccc;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 12px;
  width: 75%;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  border: 1px solid #333;
  border-radius: 4px;
  background: #222;
  color: white;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  transition: border 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
  border-color: $primary-purple;
  outline: none;
  box-shadow: 0 0 10px $primary-purple;
}

.btn {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  color: white;
  background: $secondary-purple;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.btn:hover {
  background: $primary-purple;
  transform: scale(1.05);
  box-shadow: 0 0 15px $primary-purple;
}

/* Toggle Form Links */
.toggle-form {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #ccc;
}

.toggle-form span {
  background: none;
  border: none;
  color: $secondary-purple;
  cursor: pointer;
  border-bottom: 1px solid $secondary-purple;
  font-size: 14px;
}

.toggle-form button:hover {
  color: $primary-purple;
}

/* Login/Register Form Glows */
form h2,
.toggle-form button:hover {
  text-shadow: 0 0 15px $primary-purple;
}

/* Consistent Form Input Glow */
input:focus,
select:focus {
  border: 1px solid $primary-purple;
  box-shadow: 0 0 10px $primary-purple;
}

/* Role Carousel */
#roleSelect {
  text-align: center;
  h3 {
    font-size: 1.2rem;
    color: $primary-purple;
  }
}

#role-description {
  padding-top: 20px;
}

#role-carousel {
  text-align: center;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: $secondary-purple; /* Cool sci-fi color for the header */
  }

  .carousel-nav {
    background: transparent;
    color: $primary-purple;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: background 0.3s, transform 0.2s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  .carousel-content {
    display: flex;
    margin-left: 28%;
    transition: transform 0.5s ease-in-out; /* Smooth transition for movement */
    width: 100%; /* Adjust as needed */
    justify-content: flex-start;
  }

  .role-card {
    flex: 0 0 150px; /* Each card is 150px wide */
    margin: 0 5px;
    text-align: center;
    opacity: 0.8;
    transition: opacity 0.3s, transform 0.3s;
    border-radius: 8px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    h4 {
      color: $primary-purple;
      font-size: 1rem;
      margin: 10px 0 5px 0;
    }

    p {
      font-size: 0.8rem;
      color: #ddd;
      margin: 0;
    }
  }

  #role-details {
    margin-top: 15px;

    h4 {
      font-size: 1.4rem;
      color: $primary-purple;
    }

    p {
      font-size: 1rem;
      color: $text-light;
    }
  }
}

/* Profile View */
#profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.profile-container {
  display: flex;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 900px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.planet-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-info {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editable-field {
  display: flex;
  align-items: center;
  gap: 10px;
}

#planet-name {
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

#save-planet-name {
  padding: 5px 10px;
  border: none;
  background: #6a0dad;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#save-planet-name:hover {
  background: #8205d0;
}

#planet-benefits {
  list-style-type: disc;
  padding-left: 20px;
}

#edit-profile {
  background: #333;
  border: 1px solid #6a0dad;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#edit-profile:hover {
  background: #6a0dad;
}

/* Buildings */
#buildings-view h2 {
  text-align: center;
}

#building-categories {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

#building-categories .category-btn {
  padding: 10px 15px;
  background: #333;
  color: #a020f0;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}

#building-categories .category-btn:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px #1a1a1a;
}

#building-categories .category-btn.active {
  background: #8e24aa;
  color: #fff;
}

#buildings-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: fit-content;
  margin-top: 20px;
  justify-content: center;
}

// .building
#buildings-list .building {
  width: calc(25% - 20px);
  padding: 15px;
  background-image: url("../media/buildings/refinery.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 1px -1px $text-muted;
  border-radius: 8px;
  text-align: center;
}

#buildings-list .building h3 {
  color: #a020f0;
  font-size: 1.2rem;
  margin: 0 0 10px 0;
  text-shadow: 0 0 10px #a020f0;
}

#buildings-list .building p {
  color: #ddd;
  margin: 10px 0;
}

#buildings-list .building button {
  background: #6a0dad;
  box-shadow: 0 0 10px #6a0dad;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: transform 0.2s ease;
}

#buildings-list .building button:hover {
  background: $primary-purple;
  box-shadow: 0 0 10px $primary-purple;
  transform: scale(1.05);
}

/* Troops */
#troops-view {
  h2 {
    text-align: center;
  }
}
